<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>IssueListServlet</servlet-name>
        <servlet-class>controller.IssueListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueDetailServlet</servlet-name>
        <servlet-class>controller.IssueDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueAddServlet</servlet-name>
        <servlet-class>controller.IssueAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueDeleteServlet</servlet-name>
        <servlet-class>controller.IssueDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueController</servlet-name>
        <servlet-class>controller.IssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IssueListServlet</servlet-name>
        <url-pattern>/issuelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueDetailServlet</servlet-name>
        <url-pattern>/issuedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueAddServlet</servlet-name>
        <url-pattern>/issueadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueDeleteServlet</servlet-name>
        <url-pattern>/issuedelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueController</servlet-name>
        <url-pattern>/issuecontroller</url-pattern>
    </servlet-mapping>
</web-app>
